{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/login

    Login page template

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Login page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headers keep HTML validators happy</h1>"
        }
    }
}}
{{> theme_boost/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}
<style>
    html,
    body {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
    @media (max-width:480px){
    .res-box{
    width:100% !important;
    }
    }
    body#page-login-forgot_password .custom-login-container,body#page-login-signup .custom-login-container {
        padding: 20px;
    }
    body#page-login-forgot_password .custom-main{
        height: 100%;
    }
</style>
<div class="custom-main" style="
    width: 100%;
    position: relative;
    background: url(/bg-form.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    ">
    <div class="res-box" style="
        width: 70%;
        top: 0;
        height: auto;
        position: relative;
        margin: 50px auto;
        overflow: hidden;
        background: #dce5b8;
        border-width: 1px;
        border-color: #000;
    ">
    {{{ output.standard_top_of_body_html }}}
    <div class="custom-login-container">
    {{{ output.main_content }}}
    </div>
    </div>
<p style="width: 100%;
position: relative;
display: inline-block;
text-align:center; 
color:white;
margin-bottom:50px;
">Copyright @ Deakin Uni - 2022</p>
    {{> theme_boost/footer }}
</div>
<!--<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    <div id="page" class="container-fluid pt-5 mt-0">
        <div id="page-content" class="row">
            <div id="region-main-box" class="col-12">
                <section id="region-main" class="col-12 h-100" aria-label="{{#str}}content{{/str}}">
                <div class="login-wrapper">
                    <div class="login-container">
                    {{{ output.main_content }}}
                    </div>
                </div>
                </section>
            </div>
        </div>
    </div>
</div>
-->
    {{> theme_boost/footer }}
</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader'], function() {
  M.util.js_complete('theme_boost/loader');
});
{{/js}}
